.bt-elements-elementor{
    width: 100%;
    height: auto;
    position: relative;
}
.subhead-bodycopy-elements{
    overflow: hidden;
    display: inline-block;
}
.subhead-bodycopy-elements .heading, .subhead-bodycopy-elements .content{
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: -0.5px;
    font-weight: 400;
}
.subhead-bodycopy-elements .content ul li{
    list-style-type: initial;
}
.subhead-bodycopy-elements .content ol li{
    list-style-type: decimal;
}
.subhead-bodycopy-elements .content{
    color: #2f2f39;
}
.subhead-bodycopy-elements .content p{
    margin-bottom: 15px;
}
.subhead-bodycopy-elements .content p:not(:first-child){
    margin-bottom: 0;
}
.subhead-bodycopy-elements .content a{
    color: inherit;
    line-height: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    font-family: inherit;
    text-decoration: underline;
}
.bt-elements-elementor.subhead-bodycopy-elements .heading{
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
}

/* heading media bodycopy elements */
.heading-media-bodycopy-elements{
    /*overflow: hidden;*/
    display: inline-block;
}
.heading-media-bodycopy-elements .thumbnail, .heading-media-bodycopy-elements .heading, .heading-media-bodycopy-elements .content{
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.heading-media-bodycopy-elements .heading, .subhead-bodycopy-elements .content{
    font-family: "Inter", sans-serif;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: -0.5px;
    font-weight: 400;
}

@media (max-width:768px){
  .hidden-subheading-mb .subhead-bodycopy-elements .content{
    display: none;
  }
}

.bt-elements-elementor.heading-media-bodycopy-elements .heading{
    font-size: 34px;
    line-height: 40px;
    font-weight: 700;
}
.bt-elements-elementor.heading-media-bodycopy-elements .bt-sub-heading{
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: -0.5px;
  color: #2f2f39;
}
.heading-media-bodycopy-elements .thumbnail img{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.heading-media-bodycopy-elements .heading{
    max-width: 100%;
}
.heading-media-bodycopy-elements .content {
    color: #2f2f39;
    font-size: 17px;
    letter-spacing: -0.5px;
    line-height: 29px;
}
.heading-media-bodycopy-elements .content a, .heading-media-bodycopy-elements .content p{
    color: inherit;
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.heading-media-bodycopy-elements .content p:not(:last-child){
    margin-bottom: 15px;
}
.heading-media-bodycopy-elements .content a{
    text-decoration: underline;
}
.heading-media-bodycopy-elements .content ol li ol{
  padding: 0 !important;
}
.heading-media-bodycopy-elements .content ul, .heading-media-bodycopy-elements .content ol{
    padding: 0px 0 10px 20px;
}
.heading-media-bodycopy-elements .content ul, .heading-media-bodycopy-elements .content ol{
    list-style-type: decimal;
    padding-top:0;
    padding-right: 0;
    padding-bottom: 0;
}
.heading-media-bodycopy-elements .content ul li, .heading-media-bodycopy-elements .content ol li{
    position: relative;
}
.heading-media-bodycopy-elements .content ul li a, .heading-media-bodycopy-elements .content ul li span , .heading-media-bodycopy-elements .content ol li a, .heading-media-bodycopy-elements .content ol li span{
    color: inherit;
    line-height: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    font-family: inherit;
    text-decoration: underline;
}
@media only screen and (max-width: 767px){
    .heading-media-bodycopy-elements .content{
        font-size: 16px;
        line-height: 26px;
    }
    .heading-media-bodycopy-elements .content h4{
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 5px;
    }
}
@media only screen and (max-width: 480px){
  .heading-media-bodycopy-elements .content ol{
    padding: 10px 0 10px 20px !important;
  }
}
[tooltip]{
    position: relative;
    cursor: pointer;
    font-weight: 700;
}
[tooltip]::before, [tooltip]::after{
    text-transform: none; /* opinion 2 */
    font-size: .9em; /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}
[tooltip]:hover::before, [tooltip]:hover::after{
    -webkit-animation: tooltips-vert 300ms ease-out forwards;
    animation: tooltips-vert 300ms ease-out forwards;
}
[tooltip]::before{
    content: '';
    display: inline-block;
    border: 11px solid transparent;
    z-index: 1001;
    bottom: calc(100% + 4px);
    border-bottom-width: 0;
    border-top-color: #2a8164;
    left: 40%;
}
@keyframes tooltips-vert {
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 1;
    transform: translate(0, -50%);
  }
}
[tooltip]::after{
    content: attr(tooltip);
    display: inline-block;
    min-width: 351px;
    overflow: hidden;
    padding: 13px 16px 16px 20px;
    border-radius: .3ch;
    background: #2a8164;
    font-size: 15px;
    letter-spacing: -0.44px;
    font-weight: 400;
    color: #fff;
    z-index: 1000;
    bottom: calc(100% + 15px);
    left: 156px;
    transform: translateX(0);
    line-height: normal;
    text-align: left;
    font-family: "Inter", sans-serif;
    border-radius: 5px;
}
@media only screen and (max-width: 1024px){
    .heading-media-bodycopy-elements .heading{
        max-width: 100%;
    }
    .bt-elements-elementor.heading-media-bodycopy-elements .heading{
        font-size: 30px;
        line-height: 38px
    }
}
@media only screen and (max-width: 767px){
    .bt-elements-elementor.heading-media-bodycopy-elements .heading{
        font-size: 25px;
        line-height: 35px
    }
    .heading-media-bodycopy-elements .heading br{
        display: none;
    }
}

/* sidebar elements */
.sidebar-widget-elements .content-elements{
    width: 100%;
    max-width: 221px;
    height: auto;
    margin-left: auto;
    padding: 25px 27px 31px 31px;
    background-color: rgba(245, 244, 241, 0.75);
}
.sidebar-widget-elements .content-elements > .heading{
    font-size: 17px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: -0.39px;
    color: #2f2f39;
    margin: 0 0 14px 0;
    padding: 0;
    text-align: left;
}
.sidebar-widget-elements .content-elements > div{
    border-top: solid 1px #ccc7ba;
    padding-top: 26px;
}
.sidebar-widget-elements .content-elements > div:not(:last-child){
    padding-bottom: 26px;
}
.sidebar-widget-elements .content-elements > div.sidebar-pdf{
    margin-bottom: 11px;
}
.sidebar-widget-elements .content-elements > div ._content .item a{
    font-size: 14px;
    line-height: 17.5px;
    font-weight: 400;
    color: #2f2f39;
    text-decoration: none;
    letter-spacing: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    align-items: center;
    align-content: center;
}
.sidebar-widget-elements .content-elements > div.sidebar-footer ._content .item a{
    align-items: flex-start;
    align-content: flex-start;
}
.sidebar-widget-elements .content-elements > div.sidebar-footer ._content .item a > img{
    margin-top: 4px;
}
.sidebar-widget-elements .content-elements > div ._content .item a > span{
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    text-decoration: underline;
}
.sidebar-widget-elements .content-elements > div ._content .item a img{
    height: auto;
}
.sidebar-widget-elements .content-elements > div ._content .item{
    line-height: 21px;
    position: relative;
}
.sidebar-widget-elements .content-elements > div ._content .item:not(:last-child){
    margin-bottom: 10px;
}
/* .sidebar-widget-elements .content-elements > div.sidebar-pdf ._content .item::before, .sidebar-widget-elements .content-elements > div.sidebar-footer ._content .item::before{
    content: " ";
    display: inline-block;
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sidebar-widget-elements .content-elements > div.sidebar-pdf ._content .item::before{
    width: 34px;
    height: 42px;
    background-image: url('../images/Bitmap-pdf.svg');
    top: 50%;
    transform: translateY(-50%);
} */
/* .sidebar-widget-elements .content-elements > div.sidebar-pdf ._content .item{
    padding-left: 40px;
} */
/* .sidebar-widget-elements .content-elements > div.sidebar-footer ._content .item{
    padding-left: 25px;
} */
/* .sidebar-widget-elements .content-elements > div.sidebar-footer ._content .item::before{
    width: 12px;
    height: 11px;
    background-image: url('../images/browsers-icon.svg');
    top:6px;
} */
.sidebar-widget-elements .content-elements > div.sidebar-pdf ._content .item:not(:last-child){
    margin-bottom: 23px;
}
@media only screen and (max-width: 767px){
    .sidebar-widget-elements .content-elements{
        margin-left: auto;
        margin-right: auto;
    }
}


/* elements useful link info */
.useful-link-info-elements .content-elements{
    padding: 27px 25px 31px 31px;
    max-width: 221px;
    background-color: #f5f4f1;
    overflow: hidden;
    margin-left: auto;
}
.useful-link-info-elements .heading{
    width: 100%;
    margin: 0;
    padding: 0;
    color: #2f2f39;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}
.useful-link-info-elements .content-elements > .heading{
    font-size: 17px;
    line-height: 29px;
    letter-spacing: -0.39px;
}
.useful-link-info-elements .list-items .item{
    width: 100%;
    height: auto;
    margin: 23px 0 0 0;
    display: inline-block;
}
.useful-link-info-elements .list-items .item .heading{
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.39px;
    margin-bottom: 5px;
}
.useful-link-info-elements .list-items .item .content{
    font-size: 14px;
    line-height: 17.5px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #2f2f39;
    width: 100%;
}
.useful-link-info-elements .list-items .item .content a{
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    text-decoration: underline;
}
.useful-link-info-elements .list-items .item .content b a{
    text-decoration: none;
}
@media only screen and (max-width: 1023px){
  .useful-link-info-elements .content-elements{
    padding: 10px;
  }
}
@media only screen and (max-width: 767px){
    .useful-link-info-elements .content-elements{
        margin-left: auto;
        margin-right: auto;
    }
    .elementor-118 .elementor-element.elementor-element-89c77fb .useful-link-info-elements .list-items .item .content p{
      margin-bottom: 0;
    }
}

/* Accordion Navigation Tabs elements*/
.accordion-navigation-tabs-elements > .content-elements > .heading{
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.5px;
    font-weight: 700;
    color: #2F2F39;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.accordion-navigation-tabs-container .accordion-navigation-tabs-title{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    align-items: center;
    align-content: center;
}

.accordion-navigation-tabs-container .accordion-navigation-tabs-title .item-tabs-title{
    font-size: 17px;
    line-height: 29px;
    letter-spacing: -0.5px;
    color: rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-family: "Inter", sans-serif;
    padding: 0 20px;
    margin: 0;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.accordion-navigation-tabs-container .accordion-navigation-tabs-title .item-tabs-title:first-child{
    padding-left: 0 !important;
}

.accordion-navigation-tabs-container .accordion-navigation-tabs-title .item-tabs-title.active{
    color: #2F2F39;
}

@media only screen and (max-width: 767px){
  .accordion-navigation-tabs-container .accordion-navigation-tabs-title{
    justify-content: center;
  }
}

.accordion-navigation-tabs-title .item-tabs-title:not(:first-child)::before{
    content: " ";
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 0px;
    max-height: 17px;
    transform: translateY(-50%);
}
.accordion-navigation-tabs-container .accordion-navigation-tabs-content{
    width: 100%;
    height: auto;
    overflow: hidden;
    display: inline-block;
}
.accordion-navigation-tabs-container .accordion-navigation-tabs-content .item-tabs-content{
    display: none;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}
.accordion-navigation-tabs-container .accordion-navigation-tabs-content .item-tabs-content.active{
    display: block;
}
.accordion-navigation-tabs-container .accordion-navigation-tabs-content .item-tabs-content > .item-team{
    box-sizing: border-box;
    border-bottom: 2px solid #979797;
    position: relative;
    /* -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    max-height: 260px; */
}
.accordion-navigation-tabs-container .accordion-navigation-tabs-content .item-tabs-content > .item-team.active{
    /* max-height:500px; */
}
.accordion-navigation-tabs-container .accordion-navigation-tabs-content .item-tabs-content > .item-team:first-child{
    padding-top: 0 !important;
}
.accordion-navigation-tabs-container .accordion-navigation-tabs-content .item-tabs-content > .item-team{
    padding-top: 21px;
    padding-bottom: 30px;
}

@media only screen and (max-width: 767px){
  .accordion-navigation-tabs-warp{
    text-align: center;
  }
  .accordion-navigation-tabs-container .accordion-navigation-tabs-content{
    max-width: 500px;
    margin: 0 auto;
  }
  .accordion-navigation-tabs-container .accordion-navigation-tabs-title .item-tabs-title:first-child{
    padding-left: 10px !important;
  }
}

.accordion-navigation-tabs-content .item-tabs-content .item-team .content-team{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}
.accordion-navigation-tabs-content .item-team .content-team .thumbnail-team{
    width: 221px;
    height: 221px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.item-team .content-team .thumbnail-team .avatar{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}
.accordion-navigation-tabs-content .item-team .content-team .meta-team{
    text-align: left;
    padding-left: 20px;
    width: calc(100% - 221px);
    position: relative;
}
.accordion-navigation-tabs-content .item-team .cta{
    position: absolute;
    bottom: 7px;
    right: 0;
}
.accordion-navigation-tabs-content .item-team .cta span::before{
    content: "\f106";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 25px;
    position: absolute;
    right: 0;
    top: 0px;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}
.accordion-navigation-tabs-content .item-team .cta.show-more span::before{
    /* content: "\f107"; */
    top:2px;
    transform: rotate( 180deg );
}
.accordion-navigation-tabs-content .item-team .cta > span > i{
    font-size: 25px !important;
    margin-left: 10px;
}
.accordion-navigation-tabs-content .item-team .cta > span{
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -0.45px;
    font-weight: 400;
    border-radius: 0;
    padding: 0 27px 0 0;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    align-items: center;
    align-content: center;
}
.accordion-navigation-tabs-content .meta-team .list-social-team > a:focus, .accordion-navigation-tabs-content .item-team .cta > span:focus{
    outline: none;
}
.accordion-navigation-tabs-content .item-team .cta > span, .accordion-navigation-tabs-content .item-team .cta > span i{
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}
.accordion-navigation-tabs-content .item-team .meta-team .name{
    font-size: 17px;
    line-height: 29px;
    letter-spacing: -0.5px;
    font-weight: 700;
    width: 100%;
}
.accordion-navigation-tabs-content .item-team .meta-team .name > a{
    color: inherit;
    line-height: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    font-family: inherit;
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.accordion-navigation-tabs-content .item-team .content-team .meta-team .header-meta{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    align-items: center;
    align-content: center;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.accordion-navigation-tabs-content .item-team .meta-team .list-social-team{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    align-items: center;
    align-content: center;
}
.accordion-navigation-tabs-content .meta-team .list-social-team > a{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #000;
    margin: 0 5px;
    padding: 0;
    border-radius: 4px;
}
.accordion-navigation-tabs-content .meta-team .list-social-team > a:last-child{
    margin-right: 0 !important;
}
.accordion-navigation-tabs-content .meta-team .list-social-team > a i{
    color: #fff;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 25px;
}
.accordion-navigation-tabs-content .item-team .meta-team .description, .accordion-navigation-tabs-content .item-team .meta-team p, .accordion-navigation-tabs-content .item-team .meta-team .name{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    color: #2F2F39;
}
.accordion-navigation-tabs-content .item-team .meta-team .description, .accordion-navigation-tabs-content .item-team .meta-team p{
    font-size: 14px;
    letter-spacing: -0.45px;
    font-weight: 400;
}
.accordion-navigation-tabs-content .item-team .meta-team .description{
    line-height: 25px;
}
.accordion-navigation-tabs-content .item-team .meta-team p{
    line-height: 20px;
}
.accordion-navigation-tabs-content .item-team .meta-team .description{
    overflow: hidden;
    height: 106px;
    padding-top: 11px;
    position: relative;
}

/* .accordion-navigation-tabs-content .item-team .meta-team .description::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient( 180deg ,#fff 9.27%,rgba(255,255,255,0) 28.93%);
    transform: rotate(-180deg);
    left: 0;
    top: 0;

    transition: all .5s;
    opacity: 1;
    visibility: visible;
} */
/* .accordion-navigation-tabs-content .item-team .meta-team .description.active::before{
    opacity: 0;
    visibility: hidden;
} */
.accordion-navigation-tabs-content .item-team .meta-team .description p{
    color: inherit;
    line-height: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    font-family: inherit;
    text-align: justify;
}

@media only screen and (max-width: 767px){
    .accordion-navigation-tabs-content .item-team .content-team .meta-team .header-meta, .accordion-navigation-tabs-content .item-tabs-content .item-team .content-team{
        flex-wrap: wrap;
    }
    .accordion-navigation-tabs-content .item-team .content-team .meta-team, .accordion-navigation-tabs-content .item-team .content-team .thumbnail-team{
        margin-left: auto;
        margin-right: auto;
    }
    .accordion-navigation-tabs-content .item-team .content-team .meta-team{
        width: 100% !important;
        padding-left:0;
        text-align: center;
    }
    .accordion-navigation-tabs-content .item-team .content-team .meta-team .header-meta{
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    .elementor-289 .elementor-element.elementor-element-e4ad0eb .accordion-navigation-tabs-content .item-team .meta-team .name{
        text-align: center;
    }
    .accordion-navigation-tabs-content .item-team .content-team .thumbnail-team{
        margin-bottom: 25px;
    }
}

/* Secondary CTAs Elements*/
.secondary-ctas-elements > .content-elements > .heading{
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -0.5px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    display: inline-block;
}
.secondary-ctas-elements .list-items{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.secondary-ctas-elements .list-items .item{
    width: 25%;
    height: auto;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}
.secondary-ctas-elements .list-items ._content{
    text-align: center;
}
.secondary-ctas-elements .list-items .item .thumbnail{
    width: 100%;
    display: inline-block;
    height: auto;
}
.secondary-ctas-elements .list-items .item .thumbnail img{
    width: auto;
    height: 80px;
    margin: 0;
    padding: 0;
}
.secondary-ctas-elements .list-items .item .title{
    font-size: 17px;
    line-height: 29px;
    letter-spacing: -0.5px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
}
.secondary-ctas-elements .list-items .item a .title{
    text-decoration: underline;
}
.secondary-ctas-elements .list-items ._content a:focus{
    outline: none;
}
@media only screen and (max-width: 767px){
    .secondary-ctas-elements .list-items .item{
        width: 50%;
    }
    /* .secondary-ctas-elements .list-items{
        margin-left: 0 !important;
        margin-right: 0 !important;
    } */
}
/* @media only screen and (max-width: 540px){
    .secondary-ctas-elements .list-items .item{
        width: 100%;
    }
} */

/* Alert Banner elements */
.alert-banner-elements{
    position: relative;
    overflow: hidden;
    padding: 40px 10px;
}
.alert-banner-elements  > .content-elements{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.alert-banner-elements .content, .alert-banner-elements .heading{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 17px;
    padding-left: 25px;
}
.alert-banner-elements .heading{
    line-height: 26px;
    font-weight: 700;
    letter-spacing: -0.39px;
    position: relative;
}
.alert-banner-elements .heading::before{
    content: "\f129";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 11px;
    text-rendering: auto;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.alert-banner-elements .content{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.5px;
}
.alert-banner-elements .content p, .alert-banner-elements .content a, .alert-banner-elements .content ul li{
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    font-family: inherit;
}

.alert-banner-elements .content a{
    text-decoration: underline;
}
.alert-banner-elements .content ul{
    padding-left: 20px;
}
.alert-banner-elements .content ul li{
    list-style: disc;
}
.alert-banner-elements > .cta-close{
    cursor: pointer;
    position: absolute;
    right: 60px;
    top:25px;
}
.alert-banner-elements > .cta-close i{
    color: #2f2f39;
    font-size: 20px;
}
@media only screen and (max-width: 480px){
    .alert-banner-elements > .cta-close{
        right: 10px;
    }
    .alert-banner-elements .heading{
        max-width: calc(100% - 40px);
    }
}

/* elements resources */
.resources-elements .heading{
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.5px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}
.resources-elements .list-pdf-resources{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.resources-elements .list-pdf-resources .item-pdf{
    width: 50%;
    padding: 0 10px;
    margin-bottom: 30px;
}
.resources-elements .list-pdf-resources .item-pdf > .__content{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.resources-elements .list-pdf-resources .meta-resources{
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding-left: 42px;
    width: 100%;
    max-width: 370px;
    min-height: 42px;
}
.resources-elements .list-pdf-resources .meta-resources > a{
    text-decoration: underline;
}
.resources-elements .list-pdf-resources .meta-resources::before{
    width: 34px;
    height: 42px;
    background-image: url(../images/Bitmap-pdf.svg);
    top: 50%;
    transform: translateY(-50%);
    content: " ";
    display: inline-block;
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.list-pdf-resources .meta-resources .info-pdf{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.41px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.list-pdf-resources .meta-resources .info-pdf span{
    text-transform: lowercase;
}
.resources-elements .list-pdf-resources .item-pdf.columns-des-1{
    width: 100%;
}
.resources-elements .list-pdf-resources .item-pdf.columns-des-2{
    width: 50%;
}
.resources-elements .list-pdf-resources .item-pdf.columns-des-3{
    width: calc(100% / 3);
}
.resources-elements .list-pdf-resources .item-pdf.columns-des-4{
    width: 25%;
}
@media only screen and (max-width: 1024px){
    .resources-elements .list-pdf-resources .item-pdf.columns-tab-1{
        width: 100%;
    }
    .resources-elements .list-pdf-resources .item-pdf.columns-tab-2{
        width: 50%;
    }
    .resources-elements .list-pdf-resources .item-pdf.columns-tab-3{
        width: calc(100% / 3);
    }
    .resources-elements .list-pdf-resources .item-pdf.columns-tab-4{
        width: 25%;
    }
}
@media only screen and (max-width: 767px){
    .resources-elements .heading{
      font-size: 18px;
      line-height: 24px;
    }
    .resources-elements .heading br{
        display: none;
    }
    .resources-elements .list-pdf-resources .item-pdf{
        width: 100%;
    }
    .resources-elements .list-pdf-resources .item-pdf.columns-mobi-1{
        width: 100%;
    }
    .resources-elements .list-pdf-resources .item-pdf.columns-mobi-2{
        width: 50%;
    }
    .resources-elements .list-pdf-resources .item-pdf.columns-mobi-3{
        width: calc(100% / 3);
    }
    .resources-elements .list-pdf-resources .item-pdf.columns-mobi-4{
        width: 25%;
    }
}

/* elements card lrg */
.card-lrg-elements .card-lrg-content{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.card-lrg-elements .card-lrg-content > div.meta-card-lrg{
    width: 66%;
}
.card-lrg-elements .card-lrg-content > div.thumbnail-card-lrg{
    width: 34%;
}
.card-lrg-elements .card-lrg-content .thumbnail-card-lrg{
    text-align: right;
}
.card-lrg-elements .card-lrg-content .thumbnail-card-lrg img{
    margin-left: auto;
    margin-right: auto;
    max-height: 106px;
    max-width: 100px;
    width: 100%;
}
.card-lrg-elements .meta-card-lrg .description, .card-lrg-elements .meta-card-lrg .sub-heading, .card-lrg-elements .meta-card-lrg .heading{
    width: 100%;
    height: auto;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.card-lrg-elements .meta-card-lrg .sub-heading{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.1px;
    font-weight: 400;
}
.card-lrg-elements .meta-card-lrg .heading{
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.5px;
    font-weight: bold;
}
.card-lrg-elements .meta-card-lrg .description{
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0;
    font-weight: 400;
}
.card-lrg-elements .meta-card-lrg .cta{
  margin-top: 50px;
}
.card-lrg-elements .meta-card-lrg .cta > a{
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0;
    text-decoration: underline;
    border-style: solid;
    border-width: 0;
}
.card-lrg-elements .meta-card-lrg .cta > a:focus{
    outline: none;
}
.bt-elements-elementor.card-lrg-elements{
    padding: 20px 45px 20px 20px;
}
@media only screen and (max-width: 1023px) {
    .bt-elements-elementor.card-lrg-elements{
        padding: 20px;
    }
    .card-lrg-elements .card-lrg-content .thumbnail-card-lrg img{
        max-width: 96px;
    }
}
@media only screen and (max-width: 767px) {
  .card-lrg-elements .card-lrg-content > div.meta-card-lrg{
      width: 79% !important;
  }
  .card-lrg-elements .card-lrg-content > div.thumbnail-card-lrg{
      width: 21%;
  }
  .bt-elements-elementor.card-lrg-elements{
      padding: 20px;
  }
  .card-lrg-elements .meta-card-lrg .description{
    padding-right: 10px;
  }
  .card-lrg-elements .meta-card-lrg .cta{
    margin-top: 16px;
  }
  .card-lrg-elements .meta-card-lrg .heading{
      font-size: 19px;
      line-height: 27px;
  }
}

